
/* *{
    margin: 0;
    padding: 0;
  }
  *,
*::before,
*::after {
  box-sizing: border-box;
} */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


  html {
    font-family: sans-serif;
    line-height: 1.15;
    display: grid;
    width: 100%;
    overflow-x: hidden;
  }

  body{
    min-height: 100vh;
    background: #000 !important;
    display: block;
    height: 100vh;
    margin: 0; 
    padding: 0;
  }

  nav{
    
    padding: 4px;
    background-color: #000;
    color: #ccc;
    box-shadow: 3px 3px 15px rgba(63, 63, 63, 0.96);
    display: flex;
    flex-direction:row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    overflow-x: wrap;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
  }
  nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
  }

  nav li{
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1px;
  }
  
  .branding a img{
    width: 200px;
    height: 80px;
    margin-left: 25px;
  }
  nav a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #e1dede;
    text-align: center;
    font-weight: 600;
  }
  nav .navhover{
    position: relative;
    height: 100%;
    width: auto;
    padding-top: 2%;
    margin: 0 25px;
    margin-bottom: 0%;
  }
  nav .navhover::after{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0px;
    width: 0%;
    height: 3px;
    border-radius: 5px;
    background-color: rgb(54, 54, 218);
    transition: all 0.5s ease-in-out;
    }
    
  nav .navhover:hover::after{
    background-color: #03a9f4;
    width: 100%;
  }

  .sidebar{
    position: absolute;
    padding: 3%;
    top: 0; 
    right: 0;
    height: 100vh;
    width: 200px;
    text-align: center;
    background-color: #000;
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 20px rgba(41, 41, 41, 0.893);
    list-style: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    display: none;
  }
  .sidebar li{
    width: 100%;
  }
  .sidebar a{
    width: 100%;
  }
  nav ul li .sidehover{
    margin-left: 30%;
    transition: all 1.5s linear;
  }
  nav ul li .sidehover:hover{
    color: #03a9f4;
  }
  .menu-button{
    display: none;
  }
  .nav_icon{
    font-size: 22px;
  }
  
  @media(max-width: 800px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display: block;
      margin-right: 40px;
    }
  }
  @media(max-width: 480px){
    .sidebar{
      width: 50%;
    }
    .branding a img{
      width: 180px;
      height: 70px;
      margin-left: 30px;
    }
  }

  /* ----- navigation style end ----- */

  /* hero section  */

  .hero{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    box-shadow: 1px 1px 10px #e8e7e7;
    z-index: 1;
  }

  .leftsection{
    width: 60%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    text-align: left;
    overflow: hidden;
  }
  .rightsection{
    width: 40%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .heroheading{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    margin: 6% 0 0 30%;
  }

  .heroheading p{
    color: #fff;
    font-size: 4em;
    font-weight: 500;
  }
 
  /* fluid text  */
  .content {
    position: relative;
    white-space: nowrap;
    margin-top: 0;
  }
  .content h2 {
    color: #fff;
    font-size: 6em;
    position:absolute;
    transform: translate(-1%, -30%);
  }
  .content h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
  }
  
  .content h2:nth-child(2) {
    color: #03a9f4;
    animation: liquidanimate 4s ease-in-out infinite;
  }
  @keyframes liquidanimate {
    0%,
    100% {
      clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
    }
  
    50% {
      clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
      );
    }
  }

  /* typing text animation start  */

  .textcontainer{
    overflow: hidden;
    margin-top: 70px;
    
}
.textcontainer .text{
    position: relative;
    color: #00e6c9;
    font-size: 40px;
    font-weight: 600;
}
.textcontainer .text.first-text{
    color: #0077B5;
    font-size: 30px;
}
.text.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    border-left: 2px solid #00e6c9;
    animation: animate 4s steps(12) infinite;
}
@keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}

/* hero button section start  */

.herobottom{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.hero_button{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 20px;
  white-space: nowrap;
}

.download-button {
  position: relative;
  border-width: 0;
  color: white;
  font-size: 15px;
  font-weight: 600;
  border-radius: 4px;
  z-index: 1;
 }
 
 .download-button .docs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  min-height: 40px;
  padding: 0 10px;
  border-radius: 4px;
  z-index: 1;
  background-color: #7609e3;
  border: solid 1px #fbf9f9dd;
  box-shadow: 1px 0px 10px 2px #b929f2;
  transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
 }
 
 .download-button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
 }
 
 .download {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: 0 auto;
  z-index: -1;
  border-radius: 4px;
  transform: translateY(0%);
  background-color: #0099ff;
  border: solid 1px #fbf9f9dd;
  box-shadow: 1px 1px 10px 2px #e1dede;
  transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
 }
 
 .download-button:hover .download {
  transform: translateY(100%)
 }
 
 .download svg polyline,.download svg line {
  animation: docs 1s infinite;
 }
 
 @keyframes docs {
  0% {
   transform: translateY(0%);
  }
 
  50% {
   transform: translateY(-15%);
  }
 
  100% {
   transform: translateY(0%);
  }
 }

.cssbuttons-io-button {
  background: #a370f0;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
  border: none;
  background: transparent;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

.resumebtn{
  top: 70px;
  margin: 3% 5% 3% 1%;
}
.hirebtn{
  top: 70px;
  margin: 3% 1% 3% 5%;
}
.hirebtn .hire{
  background-color: #050C9C;
  box-shadow: 1px 0px 10px 2px #3039e8;
}
.hirebtn i{
  font-size: 21px;
  padding: 1px;
}
.krishnalink{
  text-decoration: none;
  color: #fff;
}

/* social media in hero section */
.social_media{
  margin-top: 10%;
  padding: 2%;  
}
.wrapper{
  display: inline-flex;
}
.wrapper .icon{
  margin: 0 15px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon span{
  display: block;
  height: 40px;
  width: 40px;
  padding: 2px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon span i{
  line-height: 40px;
  font-size: 20px;
}
.wrapper .icon .tooltip{
  position: absolute;
  top: 0;
  z-index: 1;
  background: #fff;
  color: #fff;
  padding: 8px 12px;
  font-size: 11px;
  font-weight: 500;
  border-radius: 10px;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip{
  top: -45px;
  opacity: 1;
  pointer-events: auto;
}
.icon .tooltip:before{
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  background: #fff;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%) rotate(45deg);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover span{
  color: #fff;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip{
  text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}
.wrapper .facebook:hover span,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip:before{
  background: #0077B5;
}
.wrapper .twitter:hover span,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip:before{
  background: #46C1F6;
}
.wrapper .instagram:hover span,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip:before{
  background: #e1306c;
}
.wrapper .github:hover span,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip:before{
  background: #333;
}

.social-links{
  text-decoration: none;
  color: #333;
}

/* hero image section  */
.photo{
   width: 400px;
  height: 400px;
  border-radius: 5%; 
  background-image: url('../images/krishna.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid #050C9C;
  box-shadow: 0px 0px 30px #050C9C;
  transition: all 1s ease-in-out allow-discrete;
  transform: scale(1);
}


.photo:hover{
  background-image: url('../images/movingbot.gif');
  border: none;
  box-shadow: none;
  animation: float 3s ease-in-out infinite;
}

@media screen and (max-width: 768px) {
  .hero{
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
    z-index: 1;
  }
  .leftsection{
    width: 100%;
    padding: 10px;
  }
  .rightsection{
    width: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  .photo{
    width: 300px;
    height: 300px;
    z-index: 1;
  }
  .heroheading{
    margin-left: 30px;
    padding: 0;
    text-align: center;
  }
  .heroheading p{
    font-size: 2em;
  }
  .content h2 {
    font-size: 4em;
  }
  .textcontainer .text{
    font-size: 30px;
  }
  .textcontainer .text.first-text{
    font-size: 20px;
  }
  .text.sec-text:before{
    background-color: #000;
  }

  .herobottom{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    margin-left: 60px;
  }

  .resumebtn{
    margin: 3% 5% 3% 5%;
  }
  .hirebtn{
    margin: 3% 5% 3% 5%;
  }
  .hirebtn i{
    font-size: 18px;
  }
  .social_media{
    margin-top: 12%;
    position: relative;
    right: 30px;
    padding: 2%;  
  }
  .wrapper .icon span{
    height: 30px;
    width: 30px;
  }
  .wrapper .icon span i{
    line-height: 30px;
    font-size: 15px;
  }
  .wrapper .icon .tooltip{
    padding: 5px 8px;
    font-size: 10px;
  }
  .icon .tooltip:before{
    height: 8px;
    width: 8px;
    bottom: -4px;
  }
  
}


/* ----- hero section end ------ */
/* about section style start  */

.about{
  width: 100%;
  height: auto;
  text-align: center;
  padding: 3%;
  background-color: #000;
  box-shadow: 1px 1px 10px #e8e7e7;
}

.sectionheading{
  width: 100%;
  height: auto;
  text-align: center;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.frontheading{
  color: #fff !important;
  font-size: 4vw;
  font-weight: 900;
  margin-top: -5%;

}
.backheading{
    font-weight: 900;
    font-size: 8vw;
    color: #e1dede27;
    display: block;
}

@media screen and (max-width: 768px) {
  
  .frontheading{
    font-size: 6vw;
  }
  .backheading{
    margin-bottom: 5px;
    font-size: 12vw;
  }
  
}

.my_introduction{
  width: 100%;
  height: auto;
  /* margin: 3%; */
  padding: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.aboutimage{
  min-width: 350px;
  min-height: 350px;
  border: 1px solid #050C9C;
  background-image: url(../images/krishna.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  background-color: #6e6f70;
  border-radius: 20px;
  box-shadow: -1px -1px 20px #3039e8;
}

.about_me{
  /* max-width: 850px; */
  width: auto;
  height: auto;
  padding: 2%;
  background-color: #3030309a;
  border-radius: 20px;
  border: 1px solid #7609e3;
  box-shadow: 0px -1px 20px #7609e3;
}

.about_me p{
  text-align: justify;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 100;
  color: #e4e4e4;
}

.about_me a{
  text-decoration: none;
  text-align: center;
}
.about_me a button{
  padding: 1%;
  margin: 1%;
  text-align: center;
  color: #fafdff;
  font-size: 14px;
  font-weight: 700;
  background-color: #5802ae;
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 30px #5802ae;
  transition: all 80ms linear;

  &:hover{
    background-color: #050C9C;
    border: 1px solid #fff;
    box-shadow: 1px 1px 30px 1px #3039e8;
    scale: 0.96;
  }
}

@media screen and (max-width:768px) {

  .my_introduction{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }
  .about_me{
    max-width: 600px;
  }

}



/* about section style end  */
/* skills sections start  */

.skills{
  width: 100%;
  height: auto;
  padding: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.krishna_skills{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.block{
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 6%;
  padding: 2%;
  margin-bottom: 0;
	perspective: 500;
  padding-bottom: 0;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}
.second-block{
  margin-top: auto;
}
.first{
  width: 45%;
  height: auto;
}
.second{
  width: 45%;
  height: auto;
}


.accordion-container {
  width: 80%;
  margin: 20px auto;
  border-radius: 5px;
  overflow: hidden;
  flex-wrap: wrap;
}

.accordion-header {
  background-color: #090909;
  color: #929090;
  padding: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.8px solid #090909;
  transition: all 80ms linear;
}
.accordion-header:hover{
  background-color: #20202089;
  border: 0.8px solid #46C1F6;
}

.heading-only {
  cursor: default; 
  border-bottom: 1px solid #46C1F6;
  padding: 5px;
  background-color: #090909;
  color: #929090;
  cursor: pointer;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  transition: all 80ms linear;
}

.heading-only img{
  width: 50px;
  height: 50px;
  margin: 5px;
}
.heading-only .skill-heading{
  align-self: center;
  font-size: 24px;
  font-weight: 800;
  font-style: italic;
  margin-right: 4px;
  color: #929090;
}
.heading-only a i{
  color: #929090;
  font-size: 15px;
  
}
.heading-only a i:hover{
  color: #0099ff;
}

.accordion-header h2 {
  margin: 0;
  font-size: 18px;
}

.accordion-header .firsthalf{
  display: flex;
  align-items: center;
  justify-content: center;
}

.firsthalf img{
  padding-right:  10px;
  width: 36px;
}

.accordion-header i {
  transition: transform 0.3s ease;
  color: #46C1F6;
}

.accordion-header i.rotate {
  transform: rotate(180deg);
}

.accordion-content {
  background-color: #212121;
  color: #ddd;
  max-height: 0;
  height: 400px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  transition: max-height 0.3s ease;
  padding: 0 15px;
  box-shadow: 1px 1px 5px inset #8f8e8e;
}

.accordian-content-div{
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
}

.accordian-content-div .contentfirst{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.accordian-content-div .contentfirst img{
  padding-right:  10px;
  width: 38px;
}
.accordian-content-div .contentfirst p{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
}

.accordian-content-div .contentsecond{
  width: 99%;
  margin: 2% 1%;
}

.bg-custom-orange{
  background-color: #fd7e14 !important;
}
.bg-custom-purple{
  background-color: #6704fc !important;
}
.bg-custom-cyen{
  background-color: #0cbad5 !important;
}
.bg-custom-darkblue{
  background-color: #306998 !important;
}
.bg-custom-grey{
  background-color: #4491cf !important;
}
.bg-custom-navyblue{
  background-color: navy !important;
}
.bg-custom-green{
  background-color: #05515f !important;
}

.listjustify{
  text-align: justify;
}

.foundations p{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 1px;
  margin-top: 15px;
}

.foundations ul li{
  list-style-type: lower-greek;
  font-size: 16px;
  font-weight: 300;
}

.accordion-container-blue{
  box-shadow: -1px -1px 14px  #46C1F6;
  border: 1px solid #46C1F6;
}
.accordion-container-blue .accordion-header i{
  color: #46C1F6;
}


.accordion-container-orange{
  box-shadow: -1px -1px 14px  #DE463B;
  border: 1px solid #DE463B;
}
.accordion-container-orange .heading-only{
  border-bottom: 1px solid #DE463B;
}
.accordion-container-orange .accordion-header:hover{
  border: 1px solid #DE463B;
}
.accordion-container-orange .accordion-header i{
  color: #DE463B;
}

.accordion-container-green{
  box-shadow: -1px -1px 14px  #0cd585;
  border: 1px solid #0cd585;
}
.accordion-container-green .heading-only{
  border-bottom: 1px solid #0cd585;
}
.accordion-container-green .accordion-header:hover{
  border: 1px solid #0cd585;
}
.accordion-container-green .accordion-header i{
  color: #0cd585;
}

.accordion-container-purple{
  box-shadow: -1px -1px 14px  #7609e3;
  border: 1px solid #7609e3;
}
.accordion-container-purple .heading-only{
  border-bottom: 1px solid #7609e3;
}
.accordion-container-purple .accordion-header:hover{
  border: 1px solid #7609e3;
}
.accordion-container-purple .accordion-header i{
  color: #7609e3;
}

/* skills section end  */
/* project section start  */

.projectcontainer {
  width: 100%;
  margin-top: 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-heading {
  display: flex;
  justify-content: center;
  padding: 1% 0 0 0;
  position: relative;
  border: 2px solid #fafdff;
  border-bottom: none;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #022c28;
}

.project-heading span{
  border: 2px solid #fafdff;
  border-bottom: none;
  
}

.headingborder{
  width: 32%;
  border-bottom: 2px solid #fafdff;
  
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 1s ease, color 1s ease;
  background-color: #333;
  color: #fff;
  border: 2px solid #fafdff;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.tab:hover {
  background-color: #555;
}

.tab.active {
  background-color: #03292e;
  color: #fff;
}

.project-content {
  padding: 5% 2% 2% 2%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #fafdff, #000) 1;
  border-top: none;
  border-bottom: none;
  background: rgba(14, 14, 14, 0.79);
  background: linear-gradient(180deg, rgba(30, 30, 30, 0.844) 15%, rgba(31, 31, 31, 0.822) 55%, rgba(0, 0, 0, 0.827) 99%);
}

.tab-content {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.tab-content.active {
  display: flex;
}

.project-card {
  position: relative;
  width: 350px;
  height: 500px;
  overflow: hidden;
  border: 1px solid #fafdff;
  border-radius: 2px;
  box-shadow: 0 10px 20px rgba(246, 245, 245, 0.251);
  transition: all 0.3s ease;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.project-info {
  position: absolute;
  bottom: -70px;
  left: 0;
  width: 100%;
  background-color: rgba(38, 38, 38, 0.819);
  color: #fff;
  padding: 5px;
  box-sizing: border-box;
  transition: transform 0.4s ease;
}

.project-title {
  margin: 0;
  font-size: 1.2rem;
  padding: 5px 0;
  text-align: left;
}

.project-description {
  margin-top: 10px;
  font-size: 0.9rem;
  opacity: 0; 
  text-align: justify;
  transition: opacity 0.4s ease;
}

.read-more {
  color: #4caf50;
  text-decoration: none;
}

.read-more:hover {
  text-decoration: underline;
}

.project-card:hover .project-image {
  transform: scale(1.1);
  opacity: 0.8;
  
}

.project-card:hover .project-info {
  transform: translateY(-50%); /* Slides up with hover */
}

.project-card:hover .project-description {
  opacity: 1; /* Shows the description on hover */
}

/* ------ Achiments section style start ------ */

.Achivment-section{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 10px 10px 10px;
  padding: 50px;
}

.carousel-item img {
  width: 90%;
  height: 600px; 
  object-fit:fill; 
}
.carousel-caption {
  background: rgba(0, 0, 0, 0.6); 
  bottom: 0; 
  position: absolute; 
  text-align: center; 
  padding:15px; 
  box-sizing: border-box; 
  border-radius: 20px;
}
.carousel-caption h5, p{
  color: #fff;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: #353535; /* Orange color for the previous button */
  border-radius: 30%;
  padding: 25px;
}

@media screen and (max-width: 1200px){
  .Achivment-section .container{
    max-width: 90%;
  }
}

@media screen and (max-width: 768px) {

  .Achivment-section{
    padding: 30px;
    margin: 30px 5px 5px 5px;
  }
  .Achivment-section .container{
    max-width: 90%;
  }
  .carousel-item img{
    width: 100%;
  }
}

/* Achivment section style end  */
/* resume section design start  */

.resume-section {
  padding: 60px 0;
  color: #fff;
}

.mobile_robo{
  display: none;
}

.laptop_robo{
  display: block;
}
.animated-illustration {
  max-width: 120%;
  height: auto;
  animation: float 3s ease-in-out infinite;
}
@keyframes float {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-20px);
  }
}

.resume-card {
  height: 600px;
  width: 570px;
  border: 1px solid #6c6c6cbb;
  border-radius: 10px;
  padding: 20px;
  overflow-y: auto;
  -ms-overflow-style: none;  
  scrollbar-width: none;
  background: linear-gradient(145deg, #1c1c1c, #2a2a2a); /* Dark gradient */
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8), 
              -10px -10px 20px rgba(255, 255, 255, 0.1); /* 3D shadow effect */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.resume-card:hover {
  transform: translateY(-5px); /* Lift effect */
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.9), 
              -15px -15px 30px rgba(255, 255, 255, 0.1); /* Enhanced shadow on hover */
}

.resume-card h2 {
  color: #00ffdd;
  text-shadow: -2px -2px 5px #0c7678fd;
  margin-bottom: 15px;
  text-align: center;
}

.resume-card h3 {
  color: #00ffdd;
  font-size: 1.2rem;
  margin-bottom: 5px;
  text-align: justify;
}

.resume-card .socialinfo{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 14px;
}
.socialinfo li a{
  text-decoration: none;
  color: #fff;
}

.resume-card p{
  color: #afafaf;
  font-size: 14px;
  text-align: justify;
  margin: 0 0 10px 10px;
}

.resume-card ul {
  list-style: none;
  padding-left: 0;
  text-align: justify;
  color: #afafaf;
  font-size: 14px;
}
.resume-card ul li {
  margin-bottom: 3px;
}
.resume-card ul li i {
  color: #1ab7a2d4;
  margin-right: 2px;
}
.download-btn {
  background: #1717179e !important;
  color: #fff !important;
  font-weight: 500 !important;
  font-weight: bold;
  border: 1px solid #c5c5c5 !important;
  border-radius: 25px;
  padding: 10px 30px;
  margin-top: 20px;
  transition: all 1s ease-in-out;
  scale: 1;
}
.download-btn:hover {
  color: #00e6c9 !important;
  box-shadow: 0 6px 12px rgba(0, 230, 201, 0.7);
  scale: 0.99;
}

@media screen and (max-width: 1200px){
  .laptop_robo{
    position: relative;
    left: 0;
    right: 20%;
  }
  .resume-card .socialinfo{
    font-size: 11px;
    word-wrap: ;
  }
}

@media screen and (max-width: 768px) {

  .laptop_robo{
    display: none;
  }
  .mobile_robo{
    display: block;
    position: relative;
    left: 25%;
    max-width: 50%;
    margin-bottom: 10px;
  }
  .resume-card{
    align-self: center;
    max-width: 100%;
  }
}



/* Resume section ends here  */

/* contact us section start  */

.contact-section{
  width: auto;
  margin: 60px 10px 10px 10px;
  padding: 20px 10px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.contact-container {
  display: flex;
  width: 70%;
  background: #ffffff;
  box-shadow: 0 8px 20px rgba(208, 131, 239, 0.804);
  border-radius: 10px;
  overflow: hidden;
  flex-direction: row;
}

.left-section, .right-section {
  flex: 1;
  padding: 20px;
}

.left-section {
  background: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-section h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #6a4dcb;
  margin: 20px;
  align-self: flex-start;
  position: relative;
  top: -22px;
}

.left-section .contact-image {
  width: 80%;
  margin-bottom: 50px;
}

.left-section p {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 30px;
}

.left-section .social-icons a {
  text-decoration: none;
  color: #ffffff;
  background-color: #6a4dcb;
  font-size: 14px;
  padding: 8px 12px;
  margin: 15px 6px;
  text-align: center;
  border-radius: 15%;
  
}

.left-section .social-icons a:hover {
  background-color: #6704fc;
  border: 1px solid #714da6;
  box-shadow: 0px 4px 10px #6a4dcb;
}

.right-section {
  background: #6a4dcb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

.right-section h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 30px;
  align-self: flex-start;
}

.right-section form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.right-section form input, 
.right-section form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 18px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

.right-section form input::placeholder, 
.right-section form textarea::placeholder {
  color: #bbb;
  margin-left: 5px;
}

.right-section form textarea {
  resize: none;
  height: 150px;
}

.right-section form button {
  padding: 10px 20px;
  background-color: #050C9C;
  border: 1px solid #ddd;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.8s ease;
}

.right-section form button:hover {
  background-color: #a370f0;
  border: 1px solid #fff;
  box-shadow: 0px 4px 10px #6a4dcb;
}

/* Responsive Design */
@media (max-width: 768px) {
  .contact-container {
      flex-direction: column;
      width: 90%;
  }

  .left-section, .right-section {
      padding: 20px 10px;
      text-align: center;
  }

  .left-section .contact-image {
      width: 50%;
  }

  .left-section h1 {
      font-size: 2rem;
  }

  .right-section h2 {
      font-size: 2rem;
  }

  .right-section form input, 
  .right-section form textarea {
      font-size: 0.9rem;
  }

  .right-section form button {
      font-size: 0.9rem;
  }
}


@media (max-width: 480px) {
  .left-section h1 {
      font-size: 1.6rem;
      align-self: start;
  }

  .left-section .contact-image {
    width: 80%;
  }

  .right-section {
    padding: 0 20%;
}

  .right-section h2 {
      font-size: 1.6rem;
      margin: 10px 10px 20px 10px;
  }

  .social-icons a {
      font-size: 1rem;
      margin: 3px;
      padding: 8px;
  }
}

/* contact us section end  */

/* footer section start  */

.portfolio-footer {
  background-color: #101010;
  color: #ccc;
  text-align: center;
}

.footer-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px 10px 0 10px;
  padding-left: 20px;
  gap: 40px;
}

.footer-container > div {
  flex: 1;
  min-width: 200px;
  margin: 20px 0;
  text-align: justify;
}

/* Footer Logo Section */
.footer-logo {
  text-align: center;
  margin-left: 10px;
}

.footer-logo img {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.footer-logo img:hover {
  transform: scale(1.1);
}

.footer-logo p {
  font-size: 18px;
  margin-top: 5px;
  margin-left: 5px;
}

/* Footer About Section */
.footer-logo h3,
.footer-links h3,
.footer-social h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #ff6f61;
}

.footer-about p {
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

/* Footer Links Section */
.footer-links{
  align-self: flex-end;
}
.footer-links h3{
  margin-top: 30px;
  margin-bottom: 0;
}
.footer-links{
  width: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer-links ul{
  list-style:none;
}

.footer-links ul li {
  margin: 0;
}

.footer-links ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  transition: color 0.3s ease;
}

.footer-links ul li a:hover {
  color: #ff6f61;
}

/* footer location section  */
.location{
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: end;
  text-align: center;
}

/* Footer Bottom Section */
.footer-bottom {
  width: auto;
  margin: 10px;
  padding: 20px;
  font-size: 12px;
  color: #ccc;
  border-top: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Footer Social Icons Section */

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}

.social-icons a {
  text-decoration: none;
  font-size: 14px;
  padding: 3px 8px;
  border-radius: 20%;
  color: #fff;
  border: 1px sold #8a8989;
  background-color: #0077B5;
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer-bottom .social-icons a:hover {
  color: #ff6f61 !important;
  transform: scale(1.1);
}


/* Responsive Footer Styling */
@media (max-width: 768px) {
  .footer-container {
      flex-direction: row;
      align-items: center;
      text-align: justify;
      margin: 5px;
      gap: 5px;
  }

  .footer-container > div {
      margin: 10px 0;
  }

  .footer-logo{
    margin-left: 10px;
  }
  .footer-logo img {
      margin-bottom: 15px;
  }
}
